$balloonSize: 200px;

balloonindicator {
    position: absolute;
    right: 5%;
    bottom: 5%;

    .balloon {
        border-radius: 100%;
        width: $balloonSize;
        height: $balloonSize;

        .force {
            font-size: 28px;

            font-weight: bold;

            align-items: center;
            text-align: center;

            width: 100%;
        }
    }
}