// Font
$mainFont: Calibri;

// Blue
$blueTeamTint: cyan;
$blueTeamColor: cyan;
$blueTeamShadow: 0px 0px 6px rgba( 0 255 255 1 );
$blueTeamPanelBorder: 1px solid rgba( 18 210 255 0.05 );
$blueTeamPanelBg: rgba( 18 210 255 0.025 );
$blueTeamPanelFg: rgba( 18 210 255 0.05 );
$blueTeamBackground: 0px 0px 32px 0px rgba( 18 210 255 0.05 );
$blueTeamForeground: 0px 0px 32px 0px rgba( 18 210 255 0.1 );

// Red
$redTeamTint: tomato;
$redTeamColor: tomato;
$redTeamShadow: 0px 0px 6px rgba( 255 0 0 1 );
$redTeamPanelBorder: 1px solid rgba( 255 75 75 0.05 );
$redTeamPanelBg: rgba( 255 75 75 0.025 );
$redTeamPanelFg: rgba( 255 75 75 0.05 );
$redTeamBackground: 0px 0px 32px 0px rgba( 255 75 75 0.05 );
$redTeamForeground: 0px 0px 32px 0px rgba( 255 75 75 0.1 );