balloonprojectileworldpanel {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    background-color: rgba(11, 13, 18, 0.59);
    padding: 5px;
    border-radius: 5px;
    .use{
      color: white;
    }
  }
}